@font-face{
    font-family: 'OrcaStd';
    src:url('site/OCRAStd.otf') ;
}
@font-face {
    font-family: 'SocialMedia';
    src: url('site/social\ media.ttf');
}
body {
    background-image: url("site/Background_img.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
}
.body{
    background-image: url("site/PlanDeTravail2.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    align-items: center;
}
#fond{
    display: contents;
    font-family:  'SocialMedia' ;
    font-size: 3em;
    position: fixed;
}
.container1{
    z-index: 50;
    position: absolute;
}
#fond a{
    color: #02fefc;
    text-decoration: none;
    text-size-adjust: auto; 
}

.container1 a:hover{
    font-size:1.5em;
}

#fond img{
    position: absolute; /*il peut se placer où il veut dans la pile*/  
}
#box{
    width: 100%;
    display: flex;  
    
}
#box  p{
    color: #fff;
    font-family: 'OrcaStd' ;
    font-size: 2em;
    z-index: 32;
    position: fixed;
}
.content{
    width: 50%;  
}

.items{
    display: flex;
    justify-content: end;
    padding-top: 9%;
    
}
.items a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.content img{
    width: 95%;
    z-index: 23;
    
}
.content .reverse{ /*inverser l'image*/
    transform: rotateY(180deg);
}
.gauche {
    padding-right: 0%;
}
.droite{
    justify-content: flex-start;
    padding-left: 0%;
}

.content a:hover{
    width: 100%;
    margin-left: -10%;
}