@font-face{
    font-family: 'OrcaStd';
    src:url('site/OCRAStd.otf') ;
}
@font-face {
    font-family: 'SocialMedia';
    src: url('site/social\ media.ttf');
}
body {
    background-image: url("site/Background_img.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
}
.body{
    background-image: url("site/homvisiteur.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    align-items: center;
}
.IC{
    color: #fff;
    font-family: 'OrcaStd' ;
    font-size: 2.2em;
    position: fixed;
    padding-top: 1.4%;
    padding-left: 39%;
}
#fond{
    display: contents;
    font-family:  'SocialMedia' ;
    font-size: 3em;
    position: fixed;
    
}
.container1{
    z-index: 50;
    position: absolute;
    padding-top: 8.5%;
    padding-left: 41%;
}
#fond a{
    color: #02fefc;
    text-decoration: none;
    text-size-adjust: auto; 
}
.container1 a:hover{
    font-size:1.5em;
}
#fond img{
    position: absolute;
    padding-top: 8.1%;
    padding-left: 38%;
}
.MENUCIRCLE{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 44%;
    position: fixed;  
}
.sousmenu{
    display: flex;
    justify-content: center;
}
/*au milieu*/

.menu1{
   display: none;
}
.menu2{
   display: none;
}
.menu3{
    display: none;
}
.menu4{
    display: none;
}
.menu5{
    display: none;
}
/* #center{
    margin-left: 37%;
    margin-right: 2%;
} */
/* #centerclick{
    margin-left: 37%;
    margin-right: 2%;
}
#menu1{
   margin-right: -20%;
   margin-left: -131%;
   opacity: 0;
}
#menu2{
   margin-right: -25%;
   opacity: 0;
}
#menu3{
    margin-left: 5%;
    opacity: 0;
}
#menu4{
    margin-left: -20%;
    opacity: 0;
}
#menu5{
    margin-left: -20%;
    opacity: 0;
} */
.menu1click  {
    position: absolute;
    margin-top: -3%;
    margin-left: -31%;
}
.menu2click{
    position: absolute;
    margin-top: -8%;
    margin-left: -20%;
}
 .menu3click  {
    position: absolute;
    margin-left: -133px;
    margin-top: -11%;
}
.menu4click{
    position: absolute;
    margin-top: -8%;
    margin-left: 6%;
}
.menu5click{
    position: absolute;
    margin-top: -3%;
    margin-left: 18%;
}

