@font-face{
    font-family: 'OrcaStd';
    src:url('site/OCRAStd.otf') ;
}
@font-face {
    font-family: 'SocialMedia';
    src: url('site/social\ media.ttf');
}
body {
    background-image: url("site/Background_img.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
}
.body{
    background-image: url("site/homvisiteur.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    align-items: center;
}
.IC{
    color: #fff;
    font-family: 'OrcaStd' ;
    font-size: 2.2em;
    position: fixed;
    padding-top: 1.4%;
    padding-left: 39%;
}
#fond{
    display: contents;
    font-family:  'SocialMedia' ;
    font-size: 3em;
    position: fixed;
    
}
.container1{
    z-index: 50;
    position: absolute;
    padding-top: 8.5%;
    padding-left: 41%;
}
#fond a{
    color: #02fefc;
    text-decoration: none;
    text-size-adjust: auto; 
}
.container1 a:hover{
    font-size:1.5em;
}
#fond img{
    position: absolute;
    padding-top: 8.1%;
    padding-left: 38%;
}
.MENUCIRCLE{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 44%;
    align-items: center;
    position: fixed;  
}
.sousmenu{
    display: flex;
    justify-content: center;
    display: none;
}
#center{
    margin-left: 0%;
}

