@font-face{
    font-family: 'OrcaStd';
    src:url('site/OCRAStd.otf') ;
}
body {
    background-image: url("site/Background_img.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    font-family: 'OrcaStd';
    color: antiquewhite;
    width: 100%;
}
.connexion{
    font-size: 1em;
    margin-top: 115%;
}
form{
    font-size: 1em;
    
}
