@font-face{
    font-family: 'OrcaStd';
    src:url('site/OCRAStd.otf') ;
}
@font-face {
    font-family: 'SocialMedia';
    src: url('site/social\ media.ttf');
}
body {
    background-image: url("site/Background_img.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0%;
}
/*.body{
    background-image: url("site/homvisiteur.png");
    background-repeat: no-repeat;
    background-size: 100%;
}*/
.cadre img{
    width: 100%;
    position: fixed;
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    align-items: center;
}
.IC{
    color: #fff;
    font-family: 'OrcaStd' ;
    font-size: 2.2em;
    position: fixed;
    padding-top: 1.4%;
    padding-left: 39%;
}
#fond{
    display: contents;
    font-family:  'SocialMedia' ;
    font-size: 3em;
    position: fixed;
    
}
.container1{
    z-index: 50;
    position: absolute;
    padding-top: 8.5%;
    padding-left: 41%;
}
#fond a{
    color: #02fefc;
    text-decoration: none;
    text-size-adjust: auto; 
}
.container1 a:hover{
    font-size:1.5em;
}
#fond img{
    position: absolute;
    padding-top: 8.1%;
    padding-left: 38%;
}
.MENUCIRCLE{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 44%;
    position: fixed;  
}
/*.MENUCIRCLE #center img{
    position: fixed;
}*/
.sousmenu{
    display: flex;
    justify-content: center;
}
/*au milieu*/

.menu1{
   display: none;
}
.menu2{
   display: none;
}
.menu3{
    display: none;
}
.menu4{
    display: none;
}
.menu5{
    display: none;
}
.menu1click  {
    position: absolute;
    margin-top: -3%;
    margin-left: -31%;
}
.menu2click{
    position: absolute;
    margin-top: -8%;
    margin-left: -20%;
}
.menu3click  {
    position: absolute;
    margin-left: -133px;
    margin-top: -11%;
}
.menu4click{
    position: absolute;
    margin-top: -8%;
    margin-left: 6%;
}
.menu5click{
    position: absolute;
    margin-top: -3%;
    margin-left: 18%;
}
@media screen and (max-width: 1024px) {
    body {
        background-size: cover;
    }
    .cadre img {
        width: 115%;
        margin-left: -8%;
        margin-top: 20%;
        transform: rotateZ(90deg);
    }
    .IC{
        display: none;
    }
    .container1{
        padding-left: 30%;
        position: fixed;
    }
    #fond img{
        padding-left: 25%;
        position: fixed;
    }
    #center img {
        width: 4em;
        height: 4em;
        margin-top: 734%;
        margin-left: 536%;
    }
    .sousmenu img {
        width: 4em;
        height: 4em; 
    }
    .menu1click  {
        position: absolute;
        margin-top: 41%;
        margin-left: 66%;
    }
    .menu2click{
        position: absolute;
        margin-top: 33%;
        margin-left: 66%;
    }
    .menu3click  {
        position: absolute;
        margin-left: 66%;
        margin-top: 25%;
    }
    .menu4click{
        position: absolute;
        margin-top: 17%;
        margin-left: 66%;
    }
    .menu5click{
        position: absolute;
        margin-top: 9%;
        margin-left: 66%;
    }
}